name: CI

on:
  push:
    tags:
    - 'v*'

jobs:
  build:
    name: Building release assets
    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@v2

    - name: xcode-select
      run: sudo xcode-select -s /Applications/Xcode_12.3.app

    - name: install protobuf
      run: brew install protobuf

    - name: install automake
      run: brew list automake

    - name: Delete release notes
      run: rm -f .build/release.md

    - name: Run build
      run: swift run

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        body_path: .build/release.md
        draft: false
        prerelease: false

    - name: Upload Release Asset Static
      id: upload-release-asset-static 
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }} 
        asset_path: ./build/mosh.xcframework.zip
        asset_name: mosh.xcframework.zip
        asset_content_type: application/zip
